/* Page background */
.login-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
 background-color: #e0f7ff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Login card */
.login-card {
  background: #ffffff;
  width: 100%;
  max-width: 380px;
  padding: 35px 30px;
  border-radius: 12px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
  text-align: center;
}

/* Heading */
.login-card h2 {
  margin-bottom: 25px;
  color: #333;
  font-size: 26px;
}

/* Inputs */
.login-card input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 15px;
  outline: none;
}

.login-card input:focus {
  border-color: #4facfe;
  box-shadow: 0 0 5px rgba(79, 172, 254, 0.5);
}

/* Login button */
.login-card button {
  width: 100%;
  padding: 12px;
  background-color: #4facfe;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

.login-card button:hover {
  background-color: #328fe0;
}

/* Divider */
.login-card hr {
  margin: 20px 0;
  border: none;
  height: 1px;
  background: #ddd;
}

/* Google button center fix */
.login-card div[role="button"] {
  display: flex !important;
  justify-content: center !important;
}
