.footer {
  background: #003B8E;
  color: white;
  padding: 50px 80px;
  margin-top: 80px;
}

.footer-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-about h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

.footer-about p {
  max-width: 350px;
  color: #e3e9ff;
  font-size: 15px;
}

.footer-links h3,
.footer-contact h3 {
  margin-bottom: 10px;
  font-size: 18px;
}

.footer-links a {
  display: block;
  text-decoration: none;
  color: #cfe4ff;
  margin: 6px 0;
  transition: 0.3s;
}

.footer-links a:hover {
  color: #00A7FF;
}

.footer-contact p {
  color: #d6e7ff;
  margin: 6px 0;
}

.footer-bottom {
  text-align: center;
  margin-top: 35px;
  font-size: 14px;
  color: #a8caff;
}
